<% include ../partials/header %>

<section>
  <form action="/surveys" method="post" novalidate>
    <fieldset>
      <legend>Survey Information</legend>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Personal Survey" required>
      </div>

      <div class="form-group">
        <label for="question1">Question 1</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">*</div>
          </div>
        <input type="text" class="form-control" id="question1" name="question1" placeholder="Gender?"required >
      </div>
    </div>

    <div class="form-group">
      <label for="question1">Question 2</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">*</div>
        </div>
      <input type="text" class="form-control" id="question2" name="question2" placeholder="Age?"required >
    </div>
  </div>

  <div class="form-group">
    <label for="question1">Question 3</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">*</div>
      </div>
    <input type="text" class="form-control" id="question3" name="question3" placeholder="Weight?"required >
  </div>
</div>

<div class="form-group">
  <label for="question1">Question 4</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">*</div>
    </div>
  <input type="text" class="form-control" id="question4" name="question4" placeholder="Interest?"required >
</div>
</div>
    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create Survey</button>
    </div>
  </form>
</section>

<% include ../partials/footer %>
